@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,800;6..96,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;

}

html,
body {
  min-height: 100%;
  max-width: 100%;
  /* overflow-x: hidden; */
}

/* body::-webkit-scrollbar{
  background-color: transparent;
} */
.container1 {
  height: 100vh;
  width: 100%;
  position: relative;
}
.navbar {
  max-width: 100vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 100px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}
.logo .svg {
  width: 60px;
  height: 60px;
  /* background-color: green; */
}
.svg img{
  width: 100%;
  height: 100%;
}

.logo h3{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 14px;
}
.logo h5 {
  font-size: 13px;
  letter-spacing: 6px;
  display: inline-block;
  color: rgb(105, 103, 103);
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  font-family: "Roboto";
}
ul li a {
  text-decoration: none;
  color: rgb(29, 28, 28);
}
.btn{
  background-color: rgb(12, 12, 255);
  color: white;
  border: none;
  padding: 14px 21px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 4px;
}

/* .container1 .picture {
  overflow: hidden;
} */
.picture {
  width: 100%;
  height: 87vh;
}

.picture img {
  /* height: auto; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.Blog1 {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 87px;

}
.Blog1 .First {
  font-family: "Montserrat";
  /* padding: 10px; */
  width: 51%;
}

.First h3{
  font-size: 55px;
  font-weight: 600;
  line-height: 84px;
}
.First p {
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
}


.info {
  position: absolute;
  top: 402px;
  right: 53px;
  z-index: 100;
}
.profile-card {
  height: 400px;
  width: 326px;
  background-color: white;
  border-radius: 24px;
  padding: 56px 57px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  /* transform: rotate(-45deg); */
  /* display: inline-block;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; */


}

.loader {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 74px;
  left: 78px;
}
.loader .skill{
  width: 160px;
  height: 160px;
  position: relative;
  transform: rotate(264deg);
}

.outer{
  height: 160px;
  width: 160px;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 50%;

}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
  inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
  -0.5px -0.5px 0px rgba(255, 255, 255, 1),
  0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
  0px 12px 10px -10px rgba(0, 0, 0, 0.05);

}

#number {
  font-weight: 600;
  color: #555;
  font-size: 30px;
  transform: rotate(96deg);
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: anim 1s linear forwards;
} 


@keyframes anim {
  100%{
      stroke-dashoffset: 112.5;
  }
}
svg{
  position: absolute;
  top: 0;
  left: 0;
}


.profile-card .first h1{
  /* position: absolute;
  top: 138px;
  left: 636px; */

  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 35px;
}

.profile-card .second {
  background-color: white;
  width: 99px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 280px;
  left: 109px;
  border-radius: 8px;
  border: 1px solid #ABABAB;
}

.light {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: #55FF1A;


}
.second p{
  /* margin-left: 5px; */
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
}

.profile-card .third {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
  border-radius: 15px;
  position: absolute;
  bottom: 20px;
  height: 60px;
  padding: 20px 15px;
  text-align: start;

}
.third .pic {
  height: 40px;
  margin-right: 9px;
}

.third .pic img {
  height: 100%;
  width: 100%;
}

.third .text h3 {
  font-size: 13px;
  font-family: Arial;
}
.third .text p {
  font-family: arial;
  font-size: 12px;
}


.Blog1 .overview {
  width: 54%;
  margin-top: 50px;
}

.overview h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
}

.overview p {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 15px;
  line-height: 35px;
}

.ProjectOverview {
  position: relative;
}
.projectBadge {
  height: 400px;
  width: 326px;
  background: linear-gradient(to right, #3C4CE2, #252DD7);
  border-radius: 24px;
  padding: 34px 38px;
  position: absolute;
  top: -496px;
  right: 49px;
}

.projectBadge h4 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 23px;
  color: white;
}

.About-page {
  background-color: #DAE2FF;
  width: 100%;
  height: 82%;
  padding: 34px 72px 0px 84px;
  /* margin-bottom: 23px; */
}


.About-page h1{
  margin-bottom: 26px;
}
.files {
  max-width: 183vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 11px;
  /* flex-wrap: wrap; */
  
}



.About-page .files .pdf{
    background-color: white;
    height: 288px;
    width: 262px;
    border-radius: 10px;
}

.pdf1 .para1 {
  font-size: 8px;
  padding: 26px 33px 5px 33px;
  overflow: hidden;
}
.pdf1 .end-heading {
  padding: 0px 16px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 12px;
}

.pdf1 .end-buttons{
  display: flex;
  /* max-width: 100%; */
  margin: 7px 16px;
  align-items: center;
  justify-content: space-between;
  
}

.end-buttons .end-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.end-buttons .end-left p {
  color: #446CFB;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
}

.end-buttons button {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 600;
  background-color: white;
  border: 1px solid #bfb8b8;
}

.end-left button{
  border: none;
}
button img {
  margin-left: 5px;
}

.About-page .direction {
  max-width: 17vw;
  margin: 19px 480px;
}

.direction img{
  width: 88px;
  height: 88px;

}
.team-sec {
  background: #D9D9D9;
  height: 200vh;


}

.top-sec h2 {
  text-align: center;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-size: 37px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0px;

}

.team-sec .top-sec .profile-sec{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

}

.top-sec {
  margin-bottom: 40px;
}


.image1 .pic1 {
  Width: 141px;
  Height: 137px;
}

.image1 .name {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.image1 .position {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

}

.mid-sec {
  position: relative;
}
.mid-sec h2{
  text-align: center;
  position: relative;
  top: 41px;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;


}
.inner-mid-sec {
  width: 100%;
  height: 427px;

}

.inner-mid-sec img {
  width: 100%;
  height: 100%;
}

.bottom-sec {
  width: 89vw;
  margin: auto;
}


.bottom-sec h2 {
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;

}

.extra {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.extra-info {
  border: 1px solid #446CFB;
  width: 29vw;
  padding: 10px;
  border-radius: 18px;
  /* display: flex; */

}

.extra-info h3 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color:#446CFB;
}

.extra-info p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

}


.last-section {

  background-color: #59B2FF;

}

.end-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  width: 85vw;
  margin: 57px 20px 0 69px;
}

.end-section .text-left {
  width: 400px;

}
.end-section .text-left h2{
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  color: white;

}

.end-section .text-left button {
  text-transform: uppercase;
  background-color: #2438B8;
  border: none;
  padding: 12px;
  border-radius: 5px;
  margin-top: 25px;


}

.end-section .text-left button a {
  color: white;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 4px;
  text-align: left;

}




.end-section .image-outside {
  position: relative;
  
}

.end-section .image-right {
  width: 320px;
  height: 301px;
  position: absolute;
  top: -220px;
  right: -90px;
  z-index: 3;
}

.end-section .image-right img{
  width: 100%;
  height: 100%;
 
}


.collab-sec{
  height: 277px;
  background-color: #FFF8E4;
  /* z-index: 3; */
  padding-top: 23px;


}


.collab-sec .data-sec {
  display: flex;
  align-items: center;
  gap: 23px;
  width: 85vw;
  margin-left: 56px;

}


.data-sec .address-sec {
  width: 698px;


}

.data-sec .address-sec h3 {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.03em;
  text-align: left;

}
.data-sec .address-sec p {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0.12em;
  text-align: left;
  text-transform: uppercase;
}



footer{
  height: 395px;
  background-color: black;


}

.footer-class {
  height: 379px;

  /* display: flex;
  align-items: center;
  justify-items: center; */

  width: 83vw;
  margin: auto;
}

.main-foot {
  display: flex;
  align-items: center;
  justify-content: center;

}


.left-footer .company-name  {
  width: 256px;
  text-align: center;
  margin-bottom: 20px;
  padding: 11px 10px 10px 16px;
  color: white;

}

.left-footer .company-name img{
  width: 5vw;
}
.left-footer .company-name h2{
  font-family: Bodoni Moda;
  font-size: 17px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 14px;
  text-transform: uppercase;

  
}
.left-footer .company-name p{
  font-family: Bodoni Moda;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 5px;

}
.company-info {
  width: 267px;
}
.left-footer .company-info p{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin: 0 31px 0px 24px;
}

.left-footer .company-digital {
  text-align: center;
  margin: 17px 26px 22px -16px;
  width: 301px;
  height: 32px;

}
.left-footer .company-digital img{
  width: 100%;
  height: 100%;
}

.right-footer img{
  width: 60vw;
  padding: 10px;

}

.bottom-footer {
  color: #6b6b6b;
  border: 1px solid #6b6b6b;
  text-align: center;
  margin: 20px 0 10px 0;
  padding-top: 20px;
  font-size: 13px;

}



/* 
@media screen () {
  
} */





/* @media (1793px <= width <= 2560px){

  
  .navbar ul {
    font-size: 27px;
  }

  .logo .svg {
    width: 80px;
    height: 104px;
  }

  .logo h3{
    font-size: 35px;
  }
  .logo h5{
    font-size: 23px;
  }
  .btn {
    padding: 15px 26px;
    font-size: 34px;
  }
  .picture {
    height: 69vh;
  }
  .About-page {
    height: 490px;
    padding: 30px 97px 0px 92px;
  }
  .files{
    justify-content: space-around;
  }
  .About-page .direction {
    max-width: 10vw;
    margin: auto;
  }
}

@media (1794px <= width <= 1804px) {
  .navbar ul {
    font-size: 24px;
  }
  .btn {
    font-size: 26px;
  }
  .picture {
    height: 57vh;
  }
  .files{
    justify-content: space-around;
  }
  .About-page .direction {
    max-width: 39vw;
    margin: 19px 480px;
    text-align: center;
  }
  .botton-footer {
    margin: 41px 0 10px 0;
    font-size: 20px;
  }
  .right-footer img {
    width: 53vw;
    padding: 22px;

  }
  .team-sec {
    height: 186vh;

  }

  .projectBadge {
    top: -460px;
    right: 112px;

  }
  .info {
    top: 403px;
    right: 117px;

  }
}
 */



 @media screen and (min-width: 480px) and (max-width: 640px) {
  .navbar {
    flex-direction: column;
    height: 59vh;
  }
  .logo {
    flex-direction: column;
    text-align: center;
  }
  .logo h3 {
    font-size: 42px;
  }
  .logo h5 {
    font-size: 20px;
  }
  .logo .svg{
    width: 57px;
    height: 52px;
  }
  ul {
    flex-direction: column;
    font-size: 30px;
  }
  .picture {
    height: 23vh;
  }
  .Blog1 .First {
    width: 100%;
    margin-bottom: 384px;
  }
  .profile-card{
    width: 299px;
    height: 377px;
    padding: 13px 43px;
  }
  .info{
    top: 101vh;
    right: 24vw;
  }
  
  .Blog1 {
    margin-left: 30px;
  }
  .Blog1 .overview {
    margin-top: 60px;
    width: 93%;
  }
  .overview p {
    margin-bottom: 520px;
  }
  .First h3{
    font-size: 27px;
    line-height: 65px;
  }
  .loader {
    top: 79px;
    left: 79px;
  }
  .profile-card .second {
    top: 264px;
  }
  .projectBadge{
    width: 64vw;
    top: -45vh;
    right: 17vw;
    height: 38vh;
    text-align: center;
    padding: 29px 0;
}
  .About-page {
    padding-left: 60px;
    height: 1350px;
  }
  .About-page h1{
    width: 278px;
    font-size: 24px;
  }
  .files {
    flex-direction: column;
  }
  .About-page .direction img {
    width: 50px;
  }
  .About-page .direction{
    max-width: 23vw;
    margin: auto;
  }
  .team-sec .top-sec .profile-sec{
    flex-direction: column;
  }
  .team-sec {
    height: 337vh;
  }
  .end-section {
    width: 87vw;
    margin-left: 32px;
    padding-top: 231px;
    height: 45vh;
  }
  .end-section .text-left{
    width: 382px;  }
  .end-section .text-left h2{
    font-size: 30px;
    line-height: 35px;
  }
  .end-section .image-right {
    width: 211px;
    height: 209px;
    top: -32vh;
    right: 26vw;
  }
  .bottom-sec{
    margin: 0px 23px 81px 15px;
  }
  .extra-info{
    width: 280px;
  }
  .top-sec{
    margin-bottom: 46px;
  }
  .inner-mid-sec{
    height: 341px;
  }
  .collab-sec {
    padding-top: 19px;
    display: flex;
    height: 39vh;
  }
  .collab-sec .data-sec {
    margin-left: 5px;
    gap: 6px;
    width: 99vw;
    flex-direction: column;
  }
  .data-sec .address-sec{
    width: 254px;
  }
  .data-sec .address-sec h3{
    font-size: 19px;
  }
  .data-sec .address-sec p {
    font-size: 14px;
    line-height: 26px;
  }
  .extra {
    flex-direction: column;
  }
  .main-foot {
    flex-direction: column;
    height: 390px;
  }
  .bottom-footer{
    width: 88vw;
    margin: 6px 0 10px 0;
    padding-top: 5px;
    font-size: 11px;
  }
 }

 @media (min-width: 640px) and (max-width: 1024px){
  .navbar {
    flex-direction: column;
    height: 50vh;
  }
  .logo {
    flex-direction: column;
    text-align: center;
  }
  .logo .svg{
    width: 69px;
    height: 61px;
  }
  ul {
    flex-direction: column;
    font-size: 23px;
  }
  .picture {
    height: 25vh;
  }
  .Blog1 .First {
    width: 100%;
    margin-bottom: 384px;
  }
  .profile-card{
    width: 299px;
    height: 377px;
    padding: 13px 43px;
  }
  .info{
    top: 90vh;
    right: 28vw;
  }
  
  .Blog1 {
    margin-left: 30px;
  }
  .Blog1 .overview {
    margin-top: 60px;
    width: 93%;
  }
  .overview p {
    margin-bottom: 520px;
  }
  .First h3{
    font-size: 27px;
    line-height: 65px;
  }
  .loader {
    top: 79px;
    left: 79px;
  }
  .profile-card .second {
    top: 264px;
  }
  .projectBadge{
    width: 43vw;
    top: -46vh;
    right: 25vw;
    height: 41vh;
    text-align: center;
    padding: 29px 0;
}
  .About-page {
    padding-left: 60px;
    height: 1350px;
  }
  .About-page h1{
    width: 278px;
    font-size: 24px;
  }
  .files {
    flex-direction: column;
  }
  .About-page .direction img {
    width: 67px;  }
  .About-page .direction{
    max-width: 25vw;
    margin: auto;
  }
  .team-sec .top-sec .profile-sec{
    flex-direction: column;
  }
  .team-sec {
    height: 319vh;
  }
  .end-section {
    width: 94vw;
    margin-left: 32px;
    padding-top: 29px;
    height: 34vh;
  }
  .end-section .text-left{
    width: 373px;
  
  }
  .end-section .text-left h2{
    font-size: 24px;
    line-height: 35px;
  }
  .end-section .image-right {
    width: 226px;
    height: 233px;
    top: -24vh;
    right: 2vw;
  }
  .bottom-sec{
    margin: 0px 23px 81px 15px;
  }
  .extra-info {
    width: 76vw;
  }
  .top-sec{
    margin-bottom: 46px;
  }
  .inner-mid-sec{
    height: 341px;
  }
  .collab-sec {
    padding-top: 19px;
    display: flex;
    height: 26vh;
  }
  .collab-sec .data-sec {
    margin-left: 5px;
    gap: 6px;
    width: 99vw;
    /* flex-direction: rwo; */
  }
  .data-sec .address-sec{
    width: 392px;
  }
  .data-sec .address-sec h3{
    font-size: 19px;
  }
  .data-sec .address-sec p {
    font-size: 14px;
    line-height: 26px;
  }
  .extra {
    flex-direction: column;
  }
  footer {
    height: 455px;
  }
  .main-foot {
    flex-direction: column;
    height: 460px;
  }
  .bottom-footer{
    width: 88vw;
    margin: 6px 0 10px 0;
    padding-top: 5px;
    font-size: 11px;
  }
}
 